.quiz {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 9fr;
  animation: zoomIn 0.8s ease-in-out forwards;

  .input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    .time {
      font-size: 1.5rem;
      color: $color-light;
      flex: 1;
      text-align: left;
    }

    .country-input {
      height: 80%;
      font-size: 2rem;
      background: none;
      color: $color-secondary;
      border: none;
      border-bottom: 1px solid $color-dark;
      text-align: center;
      transition: border-bottom 0.2s;
      flex: 2;

      &:focus {
        outline: none;
        border-bottom: 1px solid $color-secondary;
      }
    }

    .score {
      font-size: 1.5rem;
      color: $color-light;
      flex: 1;
      text-align: right;

      span {
        color: $color-success;
      }
    }
  }

  .map-wrapper {
    padding: 0.5rem 0;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}
