.start-modal {
  width: 400px;
  background-color: $color-light;
  border-radius: 12px;
  box-shadow: 0 4px 30px 0 rgba($color-dark, 0.4);
  padding: 20px;
  text-align: center;
  animation: modalFadeDown 0.8s ease-in-out forwards;

  h1 {
    color: $color-primary;
    margin-bottom: 2rem;
  }

  button {
    width: 160px;
    height: 40px;
    background-color: $color-secondary;
    border-radius: 6px;
    border: none;
    font-size: 1.2rem;
    color: $color-primary;
    cursor: pointer;

    &:hover {
      background-color: $color-primary;
      color: $color-secondary;
    }
  }
}

@keyframes modalFadeDown {
  from {
    transform: translateY(-200px);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}