@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat&display=swap');

// Fonts
$font-text: 'Montserrat', sans-serif;
$font-title: 'Aboreto', cursive;

// Colors
$color-primary: #2E4052;
$color-secondary: #BDD9BF;
$color-light: #f0f0f0;
$color-dark: #0E131F;
$color-success: #2CF6B3;
$color-danger: #FF0035; 
